@import "tailwindcss";

@font-face {
  font-family: 'Avenir Black';
  src: url('../assets/fonts/AVENIRLTSTD-BLACK.OTF');
}

@font-face {
  font-family: 'Avenir Roman';
  src: url('../assets/fonts/AVENIRLTSTD-ROMAN.OTF');
}

p, li,a, span{
  font-family: "Avenir Roman", sans-serif;
  /* font-family: "Funnel Sans", sans-serif; */
  font-optical-sizing: auto;
  font-style: normal;
}

h1,h2,h3, h4,button{
  font-family: "Avenir Black", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
    /* background-color: #F5F5F5; */
    background-color: #EFEFEF;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.resp-h1 {
  @apply text-4xl md:text-5xl lg:text-6xl 2xl:text-7xl;
}
.resp-h2 {
  @apply text-2xl md:text-3xl lg:text-4xl 2xl:text-5xl;
  @apply font-semibold;
  @apply leading-snug;
}
.resp-h3 {
  @apply text-lg md:text-xl lg:text-2xl 2xl:text-3xl;
  @apply font-medium;
  @apply leading-normal;
}
.resp-h4 {
  @apply text-sm md:text-base lg:text-lg 2xl:text-xl;
  @apply font-medium;
  @apply leading-normal;
}
.resp-p {
  @apply text-sm md:text-sm lg:text-base 2xl:text-lg;
  @apply font-normal;
  @apply leading-normal;
}

